Source: lintian-pexip
Section: devel
Priority: important
Maintainer: Pexip AS <packaging@pexip.com>
Standards-Version: 4.2.1
Build-Depends: debhelper (>= 9)
Uploaders: Steve McIntyre <steve.mcintyre@pexip.com>

Package: lintian-pexip
Architecture: all
Depends: ${misc:Depends}, lintian
Description: Pexip profile for lintian
 This package includes definitions to make lintian work better on
 packages for PexOS
